{% extends 'index.html' %}

{% block content %}

    <div id="content">
      <div class="container">
        


<section id="typography">
  <!-- Headings & Paragraph Copy -->
  <div class="row">
    <div class="span12">
      <h2>Error</h2>
      <h3>Internal Server Error (500)</h3>
    </div>
  </div>

  <!-- Misc Elements -->
  <div class="row">
    <div class="span12">
      <p>Something went wrong in our servers. We apologize.</p>
      <p>You can visit the <a href="/">main page</a> or <a href="http://en.wikipedia.org/wiki/500_error">read
more</a> information about this type of error.</p>
    </div>
  </div><!-- /row -->

</section>
      </div><!-- .container -->
    </div>

{% endblock %}
