{% extends "admin/change_form.html" %}

{% load wysiwyg %}

{% block extrahead %}

	{{ block.super }}

	{% wysiwyg_setup %}

{% endblock %}

{% block extrastyle %}

	{{ block.super }}

	<style type="text/css">
            .yui-toolbar-group-fontstyle{
                visibility:hidden;
            }
	</style>

{% endblock %}

{% block content %}
sdfsdffsdfsd
	{{ block.super }}

	{# Replace XXXXXXXX with field name: #}
	{% wysiwyg_editor "id_bio"%}
	{% wysiwyg_editor "id_description" %}
	{% wysiwyg_editor "id_abstract" %}
<script>
</script>
	{% wysiwyg_editor "id_bio_editor" "{ toolbar: 'compact_toolbar' }" %}

	{# ... add more here... #}

{% endblock %}


