<!DOCTYPE html>
{% load fiber_tags %}
{% load web_extras %}
<html>
<head>
    <title>The CulturePlex </title>
</head>
<body>
{% block header %}
Cultureplex Web.
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/persons/">People</a></li>
        <li><a href="http://blogs.cultureplex.ca/activity/">Blogs</a></li>
    </ul>
    <hr size="5" align="left" width="100%" color="black">
{% endblock %}
{% block content %}
{{ 2|test:"0" }}
    <h1>Landing Page</h1>
    {% show_page_content "content" %}
{% endblock %}
{% block footer %}
    <hr size="5" align="left" width="100%" color="black">
    <p>Social networks<p>
{% endblock %}
</body>
</html>



