<!DOCTYPE html>
{% load fiber_tags %}
<html>
<head>
    <title>The CulturePlex </title>
</head>
<body>
{% block header %}
Cultureplex Web.
    <ul>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/persons/">People</a></li>
        <li><a href="http://blogs.cultureplex.ca/activity/">Blogs</a></li>
    </ul>
    <hr size="5" align="left" width="100%" color="black">
{% endblock %}
{% block content %}
<h1>Landing Page</h1>
<p>You are in the Landing Page , carousel sylva and cultural networks</p>{% endblock %}
{% block footer %}
    <hr size="5" align="left" width="100%" color="black">
    <p>Social networks<p>
{% endblock %}
</body>
</html>



