<!doctype html>
<!--[if lt IE 7]><html lang="es-ES" class="ie ie6 ltie9 ltie8 ltie7"><![endif]-->
<!--[if IE 7]><html lang="es-ES" class="ie ie7 ltie9 ltie8"><![endif]-->
<!--[if IE 8]><html lang="es-ES" class="ie ie8 ltie9"><![endif]-->
<!--[if IE 9]><html lang="es-ES" class="ie ie9"><![endif]-->
<!--[if gt IE 9]><html lang="es-ES" class="ie"><![endif]-->
<!--[if !IE]><!-->
<html lang="es-ES">
<!--<![endif]-->
<head>
  <!--[if IE]><![endif]-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <![endif]-->

  <title>Home - The CulturePlex</title>

  <!-- Styles -->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
  


  <!-- Scripts -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="js/jquery.scrollto.js"></script>
  
<script src="js/jquery.scrolli.js"></script>

  <script src="js/main.js"></script>
</head>
<body>
  <script>
    jQuery('body:not(.js)').addClass('js');
  </script>
  <div id="wrapper">
    <header>
      <div class="container">
        <h1><a href="#">Home</a></h1>
      </div><!-- .container -->
    </header><!-- header -->

    <nav>
      <div class="container">
        <ul>
          <li class="item-01">
            <a href="#" class="current">
              01. Proyectos
              <strong>Lorem ipsum dolor</strong>
              <span></span>
            </a>
          </li>
          <li class="item-02">
            <a href="#">
              02. Publicaciones
              <strong>Lorem ipsum dolor</strong>
              <span></span>
            </a>
          </li>
          <li class="item-03">
            <a href="#">
              03. Gente
              <strong>Lorem ipsum dolor</strong>
              <span></span>
            </a>
          </li>
          <li class="item-04">
            <a href="#">
              04. Blogs
              <strong>Lorem ipsum dolor</strong>
              <span></span>
            </a>
          </li>
        </ul>
      </div><!-- .container -->
    </nav><!-- nav -->

    <div id="content">
      <div class="container">
        <div class="scrolli">
          
          <div class="scrolli-element row">
            <div class="span9">
              <img src="images/content/sample-02.png" />
            </div>
            <div class="span6">
              <h2>Título del proyecto</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

              <p>Curabitur rutrum, augue a lacinia faucibus, metus enim consectetur ante, quis fermentum lacus dolor a tellus.</p>
              <p><a class="btn primary">Ver proyecto &raquo;</a></p>
            </div>
          </div><!-- .scrolli-element -->
          
          <div class="scrolli-element row">
            <div class="span9">
              <img src="images/content/sample-02.png" />
            </div>
            <div class="span6">
              <h2>Título del proyecto</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

              <p>Curabitur rutrum, augue a lacinia faucibus, metus enim consectetur ante, quis fermentum lacus dolor a tellus.</p>
              <p><a class="btn primary">Ver proyecto &raquo;</a></p>
            </div>
          </div><!-- .scrolli-element -->
          
          <div class="scrolli-element row">
            <div class="span9">
              <img src="images/content/sample-02.png" />
            </div>
            <div class="span6">
              <h2>Título del proyecto</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

              <p>Curabitur rutrum, augue a lacinia faucibus, metus enim consectetur ante, quis fermentum lacus dolor a tellus.</p>
              <p><a class="btn primary">Ver proyecto &raquo;</a></p>
            </div>
          </div><!-- .scrolli-element -->
          
        </div><!-- .scrolli -->

        



<h2>Bienvenidos a CulturePlex, <small>cultural complexity and digital humanities</small></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

<hr class="separator-01" />

<div class="row">
  
  <div class="span8">
    <h2>Título del bloque <small class="block">subtítulo del bloque de contenido extra</small></h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

    <p><img src="images/content/sample-01.png" /></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

    <ul class="numerical">
      <li>
        <strong class="number">01.</strong>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </li>

      <li>
        <strong class="number">02.</strong>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </li>

      <li>
        <strong class="number">03.</strong>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </li>
    </ul>

    <p class="text-align-center">
      <a href="#" class="btn primary">Más información</a>
    </p>

    <hr class="separator-01" />
  </div>
  
  <div class="span8">
    <h2>Título del bloque <small class="block">subtítulo del bloque de contenido extra</small></h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

    <p><img src="images/content/sample-01.png" /></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

    <ul class="numerical">
      <li>
        <strong class="number">01.</strong>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </li>

      <li>
        <strong class="number">02.</strong>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </li>

      <li>
        <strong class="number">03.</strong>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </li>
    </ul>

    <p class="text-align-center">
      <a href="#" class="btn primary">Más información</a>
    </p>

    <hr class="separator-01" />
  </div>
  
</div>
      </div><!-- .container -->
    </div>

    <footer>
      <div class="container">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae Cnsectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero.</p>

          <p><strong>
            E. contacto@cultureplex.com

            T. (+34) 666 666 666
          </strong></p>
        </div>

        <ul>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="googleplus"><a href="#">Google+</a></li>
          <li class="up"><a href="#">Volver arriba</a></li>
        </ul>
      </div><!-- .container -->
    </footer><!-- footer -->
  </div><!-- #wrapper -->
</body>
</html>
