{% extends 'Mindex.html' %}
{% load fiber_tags %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

    <div id="content">
      <div class="container">
        



<section id="typography">
  <!-- Headings & Paragraph Copy -->
  <div class="row">
    <div class="span4">

      <h2>{% show_page_content "tileemptyleft" %}</h2>
      {% show_page_content "paragraphemptyleft" %}
    </div>
    <div class="span4">
      <h2>{% show_page_content "titleempty" %}</h2>
    </div>
  </div>

  <!-- Misc Elements -->
  <div class="row">
    <div class="span4">
      <h2>{% show_page_content "tileemptyleft2" %}</h2>
      {% show_page_content "paragraphemptyleft2" %}
    </div>
    <div class="span12">
      <h3>{% show_page_content "subtitleempty" %}</h3>
      {% show_page_content "paragraphempty2" %}
    </div>
  </div><!-- /row -->

</section>
      </div><!-- .container -->
    </div>

{% endblock %}
