{% extends 'Mindex.html' %}

{% load thumbnail %}

{% block content %}

    <div id="content">
      <div class="container">
        
<h2>Projects</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.</p>

{% for project in projects.object_list %}

<div class="box box-01 with-image">
  <div class="box-image text-align-center">
{% if project.image %}
{% thumbnail project.image "100x100" crop="center" as im %}
     <img class="block" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/default-image.png" />
{% endif %}
    <a href="/projects/{{ project.id }}/" class="btn primary">View project</a>
  </div>
  <div class="box-content">
    <h3 class="box-title">{{ project.name }}</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit ... </p>

    <ul class="data">
      <li>
        <strong><span class="icon link"></span> URL:</strong> {{ project.url }}
      </li>
      <li>
        <strong><span class="icon tick"></span> Active:</strong> {% if project.active %}Yes{% else %}No{% endif %}
      </li>
      <li>
        <strong><span class="icon mail"></span> Contact:</strong> {{ project.contact }}
      </li>
    </ul>

    <h3><span class="icon users"></span> Members</h3>
    <ul class="members">
{% for person in project.members.all %}
      <li>
        <a href="/persons/{{ person.id }}">
{% if person.image %}
{% thumbnail person.image "50x50" crop="center" as im %}
        <img style="margin:{{ im|margin:"60x60" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/default-member.png" />
{% endif %}
          <strong>{{ person.name }}</strong>
          <em>{{ person.email }}</em>
        </a>
      </li>
{% endfor %}
    </ul>
  </div>
</div><!-- .box-01 -->
{% endfor %}


<div class="pager">
  <p>
    <span class="icon info"></span>

    <strong>Showing:</strong> Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
    <span class="separator"></span>

    <strong>Projects:</strong> {{ projects.paginator.count }}
  </p>

  <div class="links">
        {% if projects.has_previous %}
            <a href="?page={{ projects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

        {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}">next</a>
        {% endif %}
  </div>
</div>
      </div><!-- .container -->
    </div>

{% endblock %}
