{% extends 'Mindex.html' %}
{% load web_extras %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

    <div id="content">
      <div class="container">

<h2>{% trans "Publications" %}</h2>

<p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio." %}</p>

{% for publication in publications.object_list %}
<div class="box box-01">
  <div class="box-content">
    <h3 class="box-title">{{ publication.title }}</h3>

    <p>{{ publication.abstract }}</p>

    <p><a href="/publications/{{ publication.id }}/" class="btn primary">{% trans "View Publication" %}</a></p>

    <ul class="data">
{% if publication.hosted_at %}
      <li>
        <strong><span class="icon info"></span> {% trans "Hosted at:" %}</strong> {{ publication.hosted_at }}
      </li>
{% endif %}
      <li>
{% if publication.aceptation_date %}
        <strong><span class="icon calendar"></span> {% trans "Aceptation date:" %}</strong> {{ publication.aceptation_date }}
      </li>
{% endif %}
      <li>
{% if publication.publication_date %}
        <strong><span class="icon calendar"></span> {% trans "Publication date:" %}</strong> {{ publication.publication_date }}
      </li>
{% endif %}
    </ul>

    <h3><span class="icon users"></span> {% trans "Authors" %}</h3>
    <ul class="members">
      
{% for person in publication.authors.all %}
      <li>
        <a href="/persons/{{ person.id }}">
{% if person.image %}
{% thumbnail person.image "60x60" crop="center" as im %}
        <img style="margin:{{ im|margin:"70x61" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/default-member.png" />
{% endif %}
          <strong>{{ person.name }}</strong>
          <em>{{ person.email|truncatewords_by_chars:24 }}</em>
        </a>
      </li>
{% endfor %}
    </ul>
  </div>
</div><!-- .box-01 -->
{% endfor %}

<div class="pager">
  <p>
    <span class="icon info"></span>

    <strong>Showing:</strong> {% trans "Page" %} {{ publications.number }} {% trans "of" %} {{ publications.paginator.num_pages }}.
    <span class="separator"></span>

    <strong>{% trans "Publications:" %}</strong> {{ publications.paginator.count }}
  </p>

  <div class="links">
        {% if publications.has_previous %}
            <a href="?page={{ publications.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ publications.number }} {% trans "of" %} {{ publications.paginator.num_pages }}.
        </span>

        {% if publications.has_next %}
            <a href="?page={{ publications.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
  </div>
</div>
      </div><!-- .container -->
    </div>

{% endblock %}
