{% extends 'index.html' %}

{% load thumbnail %}

{% block content %}
<h1>{{ person.name }}</h1>
{% thumbnail person.image "100x100" crop="center" as im %}
    <img style="margin:{{ im|margin:"100x100" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
<p>{{ person.bio }}</p>
{% if projects %}
    <p>Projects where is working:</p>
    <ul>
    {% for project in projects %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if publications %}
    <p>Publications where is working:</p>
    <ul>
    {% for publication in publications %}
        <li><a href="/publications/{{ publication.id }}/">{{ publication.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
<a href="../">Back</a>
{% endblock %}

