{% extends 'index.html' %}
{% load web_extras %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
    <div id="content">
      <div class="container">
        

<h2>{% trans "People" %}</h2>

<!--<p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare risus. Cras vitae dui diam, et tincidunt libero. Integer eros ligula, ultricies eget consequat non, adipiscing eget odio." %}</p>-->

{% for person in persons.object_list %}
<div class="box box-01 with-image small-image">
  <div class="box-image text-align-center">
{% if person.image %}
{% thumbnail person.image "100x100" as im %}
            <img class="block" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/default-member.png" />
{% endif %}
    <a href="/persons/{{ person.id }}/" class="btn primary">{% trans "View details" %}</a>
  </div>
  <div class="box-content">
    <h3 class="box-title">{{ person.name }}</h3>

    <p>{{ person.bio|truncatewords_by_chars:422 }}</p>

    <ul class="data">
{% if person.phone %}
      <li>
        <strong><span class="icon phone"></span> {% trans "Phone:" %}</strong> {{ person.phone }}
      </li>
{% endif %}
{% if person.mobile %}
      <li>
        <strong><span class="icon mobile"></span> {% trans "Mobile:" %}</strong> {{ person.mobile }}
      </li>
{% endif %}
      <li>
        <strong><span class="icon mail"></span> {% trans "Email:" %}</strong> <a href="#">{{ person.email }}</a>
      </li>
      <li>
        <strong><span class="icon tick"></span> {% trans "Active:" %}</strong> {% if person.active %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
      </li>
    </ul>
  </div>
</div><!-- .box-01 -->
{% endfor %}

<div class="pager">
  <p>
    <span class="icon info"></span>

    <strong>{% trans "Showing:" %}</strong> {% trans "Page" %} {{ persons.number }} {% trans "of" %} {{ persons.paginator.num_pages }}.
    <span class="separator"></span>

    <strong>{% trans "People:" %}</strong> {{ persons.paginator.count }}
  </p>
  
  <div class="links">
        Order by :
            <a href="?orderby=active">{% trans "active" %}</a>
            <a href="?orderby=name">{% trans "name" %}</a>
            <a href="?orderby=position">{% trans "position" %}</a>
        {% if persons.has_previous %}
            <a href="?page={{ persons.previous_page_number }}&orderby={{ sort_criteria }}">←</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ persons.number }} {% trans "of" %} {{ persons.paginator.num_pages }}.
        </span>

        {% if persons.has_next %}
            <a href="?page={{ persons.next_page_number }}&orderby={{ sort_criteria }}">→</a>
        {% endif %}
  </div>
</div>
      </div><!-- .container -->
    </div>

{% endblock %}
