{% extends 'index.html' %}
{% load web_extras %}
{% load thumbnail %}
{% load i18n %}

{% block content %}


    <div id="content">
      <div class="container">
        



<h2>
  {{ person.name }}{% if request.user.is_authenticated %}
        | <a href="{% url admin:web_person_change person.id %}" title="{% trans "Edit" %}"></a>
    {% endif %}
  <span class="inner-pager">
    <a href="{% url web.views.persons %}">&lt; {% trans "back to people" %}</a>
  </span>
</h2>


<div class="row">
  <div class="span5">
    <div class="box box-01">
      <div class="box-content">
{% if person.image %}
{% thumbnail person.image "235x201" format="PNG" upscale=False as im %}
    <img class="block" src="{{ im.url }}" >
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/default-member.png" />
{% endif %}

        <ul class="data-02">
          <li>
{% if person.phone %}
            <strong><span class="icon phone"></span> {% trans "Phone:" %}</strong> <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
          </li>
{% endif %}
{% if person.mobile %}
          <li>
            <strong><span class="icon mobile"></span> {% trans "Mobile:" %}</strong> <a href="tel:{{ person.mobile }}">{{ person.mobile }}</a>
          </li>
{% endif %}
          <li>
            <strong><span class="icon mail"></span> {% trans "Contact:" %}</strong> <a href="mailto:{{ person.email}}">{{ person.email|truncatewords_by_chars:23 }}</a>
          </li>
          <li>
            <strong><span class="icon tick"></span> {% trans "Active:" %}</strong> {% if person.active %}Yes{% else %}No{% endif %}
          </li>
{% if person.blog %}
          <li>
            <strong><span class="icon bubble"></span> {% trans "Blog:" %}</strong> <a href="{{ person.blog }}">{{ person.blog|truncatewords_by_chars:23 }}</a>
          </li>
{% endif %}
          <li>
            <strong><span class="icon user"></span> {% trans "Position:" %}</strong> {{ person.position }}
          </li>

          <li>
            <strong><span class="icon bubbles"></span> {% trans "Social:" %}</strong>
{% if person.facebook %}
            <a href="http://www.facebook.com/{{ person.facebook }}"><span class="icon facebook"></span></a>
{% endif %}
{% if person.twitter %}
            <a href="http://www.twitter.com/{{ person.twitter }}"><span class="icon twitter"></span></a>
{% endif %}
{% if person.googleplus %}
            <a href="http://plus.google.com/{{ person.googleplus }}"><span class="icon googleplus"></span></a>
{% endif %}
{% if person.github %}
            <a href="http://github.com/{{ person.github }}"><span class="icon github"></span></a>
{% endif %}
          </li>
        </ul>
      </div>
    </div><!-- .box-01 -->
  </div>
  <div class="span11">
    <p>{% autoescape off %}{{ person.bio }}{% endautoescape %}</p>


{% if projects %}
    <h3 class="box-title">{% trans "Projects" %}</h3>

{% for project in projects %}
    <div class="box box-01 with-image small-image">
      <div class="box-image text-align-center">
{% if project.image %}
{% thumbnail project.image "100x100" format="PNG" upscale=False as im %}
    <img class="block" style="margin:{{ im|margin:"100x100" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/sample-03.png" />
{% endif %}
      </div>
      <div class="box-content">
        <h3 class="box-title">{{ project.name }}</h3>

        <p>{% autoescape off %}{{ project.description|truncatewords_by_chars:140 }}{% endautoescape %}</p>

        <a href="{{ project.get_absolute_url }}" class="btn primary">{% trans "View project" %}</a>
      </div>
    </div><!-- .box-01 -->
{% endfor %}
{% endif %}
{% if publications %}

    <h3 class="box-title">{% trans "Publications" %}</h3>

{% for publication in publications %}
    <div class="box box-01 without-image small-image">
      <div class="box-image text-align-center">

      </div>
      <div class="box-content">
        <h3 class="box-title">{{ publication.title }}</h3>

        <p>{% autoescape off %}{{ publication.abstract|truncatewords_by_chars:140 }}{% endautoescape %}</p>

        <a href="{{ publication.get_absolute_url }}" class="btn primary">{% trans "View publication" %}</a>
      </div>
    </div><!-- .box-01 -->
{% endfor %}
{% endif %}
    
  </div>
</div>
      </div><!-- .container -->
    </div>


{% endblock %}

