{% load thumbnail %}
{% load web_extras %}
{% load static %}
<li>
  <a href="/persons/{{ person.id }}">
{% if person.image %}
{% thumbnail person.image "60x60" crop="center" as im %}
  <img style="margin:{{ im|margin:"70x61" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
{% else %}
  <img class="block" src="{% get_static_prefix %}web/images/content/default-member.png" />
{% endif %}
  <strong>{{ person.name }}</strong>
{% if width == 'big' %}
  <em>{{ person.email|truncatewords_by_chars:28 }}</em>
{% else %}
  <em>{{ person.email|truncatewords_by_chars:17 }}</em>
{% endif %}
  </a>
</li>
