{% extends 'index.html' %}
{% load web_extras %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

    <div id="content">
      <div class="container">
        
<h2>
  {{ project.name }}
  <span class="inner-pager">
    <a href="/projects">&lt; {% trans "back to projects" %}</a>
  </span>
</h2>

<div class="row">
  <div class="span5">
    <div class="box box-01">
      <div class="box-content">
{% if project.image %}
{% thumbnail project.image "235x201" crop="center" upscale=False as im %}
    <img class="block" src="{{ im.url }}" >
{% endthumbnail %}
{% else %}
    <img class="block" src="{{ STATIC_URL }}web/images/content/default-image.png" />
{% endif %}
        <ul class="data-02">
          <li>
            <strong><span class="icon link"></span> {% trans "URL:" %} </strong> <text>  <a href="{{ project.url|add_http }}">{{ project.url|truncatewords_by_chars:27 }}</a></text>
          </li>
          <li>
            <strong><span class="icon tick"></span> {% trans "Active:" %} </strong>  {% if project.active %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
          </li>
          <li>
            <strong><span class="icon mail"></span> {% trans "Contact:" %} </strong>  {{ project.contact }}
          </li>
        </ul>
      </div>
    </div><!-- .box-01 -->
  </div>
  <div class="span11">
    <p>{{ project.description }}</p>
    <h3 class="box-title">{% trans "Members" %}</h3>
    <ul class="members">
{% for person in project.members.all %}
{% show_person_box person 'small' %}
{% endfor %}
    </ul>
  </div>
</div>
      </div><!-- .container -->
    </div>
{% endblock %}
