{% extends 'index.html' %}

{% load thumbnail %}

{% block content %}
{% thumbnail project.image "100x100" crop="bottom" as im %}
    <img style="margin:{{ im|margin:"100x100" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
    <h1>{{ project.name }}</h1>
    <b>Url: </b><a href={{ project.url }}>{{ project.url }}</a>
    <b>Active: </b>{{ project.active }}
    <p>{{ project.description }}</p>
    <p>This project is managed by <a href="/persons/{{ project.contact.id }}">{{ project.contact.name }}</a></p>
{% if project.members%}
    <p>Members of this project:</p>
    <ul>
    {% for person in project.members.all %}
        <li><a href="/persons/{{ person.id }}/">{{ person.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <p>On-line version of {{ project.name }}: <a href="{{ project.url }}/">{{ project.url }}</a></p>
    <a href="../">Back</a>
{% endblock %}
