{% extends 'index.html' %}
{% load web_extras %}
{% load thumbnail %}
{% load i18n %}

{% block content %}


    <div id="content">
      <div class="container">
        



<h2>
  {{ publication.title }}{% if request.user.is_authenticated %}
        | <a href="{% url admin:web_publication_change publication.id %}" title="{% trans "Edit" %}"></a>
    {% endif %}
  <span class="inner-pager">
    <a href="{% url web.views.publications %}">&lt; {% trans "back to publications" %}</a>
  </span>
</h2>


<div class="row">
  <div class="span5">
    <div class="box box-01">
      <div class="box-content">
        <p>
          <a href="/media/{{ publication.document }}" class="btn primary block">{% trans "Download Publication" %}</a>
        </p>
        <ul class="data-02">
{% if publication.aceptation_date %}
          <li>
            <strong><span class="icon calendar"></span> {% trans "Acceptation Date:" %}</strong> {{ publication.aceptation_date }}
          </li>
{% endif %}
{% if publication.publication_date %}
          <li>
            <strong><span class="icon calendar"></span> {% trans "Publication Date:" %}</strong> {{ publication.publication_date }}
          </li>
{% endif %}
{% if publication.hosted_at %}
          <li>
            <strong><span class="icon cloud"></span> {% trans "Hosted at:" %}</strong> {{ publication.hosted_at }}
          </li>
{% endif %}
{% if publication.url_hosted_at %}
          <li>
            <strong><span class="icon info"></span> {% trans "Host URL:" %}</strong> <text>  <a href="{{ publication.url_hosted_at|add_http }}">{{ publication.url_hosted_at|truncatewords_by_chars:22 }}</a></text>
          </li>
{% endif %}
          <li>
            <strong><span class="icon book"></span> {% trans "Type:" %}</strong> {{ publication.publication_type }}
          </li>
{% if publication.keywords %}
          <li>
            <strong><span class="icon tag"></span> {% trans "Keyworkds:" %}</strong> {{ publication.keywords }}
          </li>
{% endif %}
        </ul>
      </div>
    </div><!-- .box-01 -->
  </div>
  <div class="span11">
    <p>{{ publication.abstract }}</p>

    <h3 class="box-title">{% trans "Authors" %}</h3>
    <ul class="members">
      {% for person in publication.authors.all %}
      {% show_person_box person 'small' %}
      {% endfor %}
    </ul>

{% if publication.related_projects.all|length > 0 %}
    <h3 class="box-title">{% trans "Related projects" %}</h3>
      {% for project in publication.related_projects.all %}
    <div class="box box-01">
      <div class="box-content">
        <h3 class="box-title">{{ project.name }}</h3>

        <p>{{ project.description|truncatewords_by_chars:140 }}</p>

        <a href="{{ project.get_absolute_url }}" class="btn primary">{% trans "View project" %}</a>
      </div>
    </div><!-- .box-01 -->
{% endfor %}
{% endif %}
  </div>
</div>
      </div><!-- .container -->
    </div>


{% endblock %}
