{% extends 'index.html' %}

{% load thumbnail %}

{% block content %}

    <h1>Publications</h1>
    <p>En esta sección se encontrarán todos las publicaciones del lab</p>
{% if publications.object_list %}
    <ul>
    {% for publication in publications.object_list %}
        <li><a href="/publications/{{ publication.id }}/">{{ publication.title }}</a></li>
{% if publication.authors.all %}
            Authors:
            <ul>
{% for person in publication.authors.all %}
                <li><a href=/persons/{{ person.id }}>{{ person.name }}</a>
{% thumbnail person.image "100x100" crop="center" as im %}
                     <img style="margin:{{ im|margin:"100x100" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
                </li>
{% endfor %}
            </ul>
{% else %}
            <p>No Members are available.</p>
{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No publications are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if publications.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ publications.number }} of {{ publications.paginator.num_pages }}.
        </span>

        {% if publications.has_next %}
            <a href="?page={{ publications.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<a href="../">Back</a>
{% endblock %}


