{% extends 'index.html' %}
{% block content %}
    <h1>{{ publication.title }}</h1>
    <p>Abstract:</p>
    <p>{{ publication.abstract }}</p>
    <p>Download this publication: <a href="/media/{{ publication.document }}">Download</a></p>
{% if publication.authors %}
    <p>Authors of this publication:</p>
    <ul>
    {% for person in publication.authors.all %}
        <li><a href="/persons/{{ person.id }}/">{{ person.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if publication.related_projects.all %}
    <p>Projects related with this publication:</p>
    <ul>
    {% for project in publication.related_projects.all %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    <a href="../">Back</a>
{% endblock %}
