@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/asdasd-webfontEOT.eot');
  src: url('../fonts/asdasd-webfontEOT.eot?#iefix') format('embedded-opentype'), url('../fonts/asdasd-webfontWOFF.woff') format('woff'), url('../fonts/asdasd-webfontTTF.ttf') format('truetype'), url('../fonts/asdasd-webfontSVG.svg#MyriadProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/myriadpro-bold-webfontEOT.eot');
  src: url('../fonts/myriadpro-bold-webfontEOT.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-bold-webfontWOFF.woff') format('woff'), url('../fonts/myriadpro-bold-webfontTTF.ttf') format('truetype'), url('../fonts/myriadpro-bold-webfontSVG.svg#MyriadProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProItalic';
  src: url('../fonts/myriadpro-it-webfontEOT.eot');
  src: url('../fonts/myriadpro-it-webfontEOT.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-it-webfontWOFF.woff') format('woff'), url('../fonts/myriadpro-it-webfontTTF.ttf') format('truetype'), url('../fonts/myriadpro-it-webfontSVG.svg#MyriadProItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
